body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.flexible-container{
  display: flex;
}
.top-banner .left-side{
  width: 45%;
  padding-left: 90px;
}
.top-banner .right-side{
  width: 55%;
  padding-left: 90px;
}
.top-banner .right-side img{
  width: 87%;
  
}
h1{
  font-size: 50px;
}
.colored-part{
  color: orange;
}
.top-banner p{
  color: #776B69;
}
.link-button {
  color: #ffffff;
  text-transform: uppercase;
  background-image: linear-gradient(90deg,#FF9974,#FF694C);
  padding: 10px 40px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
/*================================== mid section ====================================*/

.mid-section .left-side{
  width: 50%;
  padding-left: 90px;
}
.mid-section .right-side{
  width: 50%;
}
.mid-section .left-side img{
  width: 85%;
  
}
.mid-section p{
  color: #776B69;
  width: 85%;
}
.mid-section{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top:145px;
}
/* =============================== last section ==================================== */
.experiences{
  display: flex;
  
}
.developer-experience{
  width: 40%;
  box-shadow: 0px 0px 30px gray;
  padding-left: 30px;
  
}
.developer-experience p{
  margin-bottom: 90px;
}
.experiences p{
  color:#776B69 ;
}
#full-stack-developer{
  margin-left: 5%;
  margin-right: 2.5%;
  border-left: 7px solid #FF6347;
}
#baby-developer{
  margin-left: 2.5%;
  margin-right: 5%;
  border-left: 7px solid #0000FF;
}
.experiences h2{
  font-size: 40px;
}
.last-section{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-bottom:180px;
  margin-top: 150px;
  
  
}
footer p{
  text-align: center;
  color:#776B69 ;
}